nav {
  padding: 1em;
  text-align: center;
}
.main-nav-container {
  width: 40%;
  margin-inline: auto 0;
}

.main-nav {
  list-style: none;
}

.main-nav li {
  margin-inline: 1em;
}

.main-nav li.active {
  border-bottom: 3px solid blue;
}
